.background {
  height: 400px;
  width: 100%;
  border-bottom: 1px solid #999;
  z-index: -999;
  position: absolute;
  top: 0px;
  opacity: 0.3;
  filter: alpha(opacity=85);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d10e11+0,ffafaf+100&1+0,1+26,0.7+36,0+100 */
  background-image: url("/static/banner_sitenovo_semunainforma-1918x1039.jpg");
  background-size: 750px;
  background-color: #e1dbdb;
  background-repeat: no-repeat;
}
