.card {
	padding: 20px;
  border: 1px solid #e1e1e1;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.33);
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.33);
  background-color: #fff;
  margin: 5px;
	.card-block {
		overflow: auto;
  }

	.actions {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}
