#main-nav {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 50px;
  box-sizing: inherit;
  text-transform: uppercase;
  max-width: 1024px;
  margin: 0 auto 0 auto;
  .brand {
    border-bottom: 1px solid $primary-color;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    img {
      max-height: 45px;
    }
    a {
      font-size: 1.6em;
      text-decoration: none;
      color: $primary-color;
      font-weight: bolder;
    }
  }
  .menu {
    display: inline-flex;
    align-items: center;
    .item {
      font-size: 0.95em;
      text-decoration: none;
      padding: 20px 20px 0 0;
      color: #37434d;
      font-weight: 600;
    }
  }
}