.table-s1 {
	margin: 10px 0;
	width: 100%;
	text-transform: uppercase;
	font-size: 12px;
	border-collapse: collapse;

	thead {
		tr {
			border-bottom: 2px solid $primary-color;
		}
		th {
			text-align: left;
			font-size: 1.1em;
			font-weight: bolder;
		}
	}
	td,th {
		padding: 5px;
		.btn-group {
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}
	tbody {
		tr:nth-child(odd) {
			background-color: $table-alternate-td-color;
		}
	}
}

.schedule {
  text-transform: uppercase;
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 45px;
  margin-top: 45px;
  min-width: 815px;
  box-sizing: content-box;


  th {
		text-align: center;
		padding: 10px;
		font-weight: bolder;
	}
	td {
		padding: 0;
		vertical-align: top;
		text-align: center;
		position: relative;

		&.left-head {
			text-align: center;
			vertical-align: middle;
			font-weight: bolder;
		}
		.clear-appointment {
			width: 128px;
			height: 55px;
		}
		.actions {
			visibility: hidden;
			display: inline-block;
			opacity: 0;
			transition: opacity .7s;
			position: absolute;
			bottom: 0;
			right: 0;
			.button-s1 {
				padding: 3px;
				.fa-icon {
					height: 12px;
				}
			}
		}
		&:hover {
			.actions {
				visibility: visible;
				opacity: 1;
				z-index: 99999;
			}
		}
		&:not(:last-child) {
			border-right: 1px dashed #aaa;
		}
	}
	thead {
		tr {
			border-bottom: 2px solid $primary-color;
		}
		th {
			position: relative;
			.actions {
				visibility: hidden;
				display: inline-block;
				opacity: 0;
				transition: opacity .7s;
				position: absolute;
				bottom: -5px;
				right: 3px;
				.button-s1 {
					padding: 3px;
					.fa-icon {
						height: 12px;
					}
				}
			}
			&:hover {
				.actions {
					visibility: visible;
					opacity: 1;
					z-index: 99999;
				}
			}
		}
	}
	tbody {
		tr {
			td[rowspan] {
				background-color: #ddd;
				padding: 0 30px;
				border-bottom: 1px solid #fff;
			}
			&:nth-child(odd) {
				background-color: #ccc;
			}
		}
	}
	.dragenter {
			background-color: lighten($primary-color,25%);
	}
}
