$primary-color: darken(#ff0000, 10%);
$second-color: #008080;
$third-color: #ccc;

$box-border-size: 1px;
$box-border-color: #ccc;
$box-head-color: #999;
$box-footer-background-color: #f0f0f0;
$box-footer-color: $box-head-color;